<html>
  <link rel="stylesheet" href="foundation/css/foundation.css">
 <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="foundation/js/foundation.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <script src="http://code.angularjs.org/1.2.26/angular.js"></script>
  <script src="controllers/controllers.js"></script>
  <body ng-app="module">
    <div id="container">
      <div id="main" ng-controller="Controller1">
          Controller 1
          <br>Inventory Items:
            <div class="row" ng-repeat="item in items track by $index">
              <div class="small-1 columns divider-dotted">
                {{$index + 1}}
              </div>
              <div class="small-2 columns divider-dotted">
                {{item.name}}
              </div>
              <div class="small-4 columns divider-dotted">
                {{item.description}}
              </div>
              <div class="small-2 columns divider-dotted">
                {{item.price | currency}}
              </div>
              <div class="small-2 columns divider-dotted">
                <button class="small radius button" ng-click=" remove($index)">Remove</button>
              </div>
            </div>
          </div>
          <form ng-submit="submit()">
            Add a new item: 
            <input type="text" ng-model="newItem" />
            <button type="submit">Add</button>
          </form>  


          <div id="second" ng-controller="Controller2">
            Controller 2 (child) {{butter}}<br>
            Child referring to parent: {{$parent.butter}}<br><br>
            Input in child: 
            <input type="text" ng-model="butter" /><br><br>
            Own scope for cream (after default value from controller of: {{cream}}):
            <ul> 
              <li class="licontainer" ng-repeat="item in items track by $index">
                {{$index + 1}}.&nbsp;{{cream}} &nbsp;&nbsp;{{item}}
                <div class="controls">
                  <input type="text" ng-model="cream" />
                  <button ng-click="remove($index)">Remove</button>
                </div>    
              </li>
            </ul>
            <form ng-submit="submit()">
              Add: 
              <input type="text" ng-model="newItem" />
              <button type="submit">Add</button>
            </form>  
            <test-directive info="greenLettuce"></test-directive>  
            <test-directive info="darkerGreenLettuce"></test-directive>  
              
            <div id="third" ng-controller="Controller3">
              <br>Here is value for butter in third level: {{butter}}<br>
                  And accessing parent: {{$parent.butter}}<br>
                  .. and top level: {{$parent.$parent.butter}}<br>
                  And for another directive:<br>
                  <span another-dir="Mello Yellow"></span><br>    
                  <span another-dir="Root Beer"></span><br>
                  <div call-out call="messageMe('Hello')" name="Joe"></div>
                  <div call-out call="messageMe('Whad up')" name="Ryan"></div>
                  <br><br>
                  And finally, a directive that wraps any arbitrary content:
                  <a-dialog>Here are some contents: {{info}}</a-dialog>
                  <br>Focus on Months {{focusOnMonths}}<br>
                  Check here to give focus: <input type="checkbox" ng-model="focusOnMonths">

                  To this input box:  <input id="number-months" type="text" style="width: 90px; height: 23px; margin: 0;" ng-model="months" focus-me="focusOnMonths">  Months
                  <br><br>
                  Using dynamic filter names from a string, and a custom filter:
                  <ul>
                    <li ng-repeat="card in cards">{{card.face | namedFilter:card.filter}}</li>
                    <li>{{lastCard | reverse | capitalize}}
                  </ul>
            </div>
          </div>
        </div>  
      </div>
    <script>
     $(document).foundation();
    </script>
  </body>
</html>
